parameters:
    level: 9
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpunit.bootstrap.php
    ignoreErrors:
        -
            path: tests/tests/Unit/
            message: '#^Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true\.#'
